@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.sarabun-thin {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sarabun-extralight {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sarabun-light {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sarabun-regular {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarabun-medium {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarabun-semibold {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarabun-bold {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarabun-extrabold {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarabun-thin-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.sarabun-extralight-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sarabun-light-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sarabun-regular-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sarabun-medium-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.sarabun-semibold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.sarabun-bold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sarabun-extrabold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.wholeBody {
  background-color: #111111;
}
.logo {
  margin-left: 1vw;
  margin-top: 0.6vw;
}
.nav {
  position: fixed;
  bottom: 2.5vw;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  width: 40vw;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1vw 0.5vw;
}
.navButton {
  margin: 0.6vw 0.6vw;
  height: 3vw;
  width: 12vw;
  color: white;
  border: 1px solid white;
  display: flex;

  border-radius: 5px;
  background-color: #1e1e1e;
  /* padding: 0vw 0.5vw; */
  padding-bottom: 0.3vw;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@keyframes slide {
  from {
    transform: translateX(-50%);
    transform: translateY(0);
  }
  to {
    transform: translateX(-50%);
    transform: translateY(-100%);
  }
}
.linkBox {
  height: 4vw;
  width: 41vw;
  background-color: #1e1e1e;
  position: fixed;
  bottom: 7.5vw;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  /* animation: slide 0.5s ease-in-out; */
  display: flex;
  flex-direction: row;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.hidden {
  opacity: 0;
  display: none;
}
.pageLink {
  margin: 0.6vw 0.6vw;
  /* height: 3vw; */
  width: 9vw;
  color: white;
  text-decoration: none;
  display: flex;
  /* border-radius: 5px; */
  /* background-color: #1E1E1E; */
  /* padding-bottom: 0.3vw; */
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileIcon {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
}
.profileIconLinks {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  width: auto;
  height: 4vw;
  padding: 1vw;
  transform: translateX(-20%);
  margin-top: 1vw;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40%;
  background-color: #b33434;
  z-index: -1;
}
.profileBox {
  position: fixed;
  top: 20%;
  width: 65%;
  background-color: white;
  height: 36vw;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 22px;
}
.switch {
  display: flex;
  flex-direction: row;
  height: 3vw;
  width: 100%;
}
.section {
  width: 311%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1vw;
  margin: 1vw;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.commonProfile {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.profilePic {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 2px solid #b33434;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  margin: 0 auto;
  margin-top: 8vw;
  margin-bottom: 0.5vw;
}
.fixed_details {
  margin: 0.1vw auto;
  text-align: center;
  /* margin-bottom:0.2vw; */
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}
.detailsTable {
  margin: auto auto;
}
td {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  padding: 0.5vw 2vw;
}
.popup-form {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  width: 50%;
  color: white;
  padding-bottom: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  margin: 0 auto;
  height: auto;
}
.firstCol {
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: center;
  color: white;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  margin-top: 1vw;
}
.secondCol {
  display: flex;
  flex-direction: column;
  width: 25vw;
  color: white;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  transform: translate(-10%);
  margin-top: 1vw;
}
select {
  width: 15vw;
  height: 2.5vw;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  margin: 0.2vw 0;
}
label {
  margin-top: 1vw;
  color: white;
}
textarea {
  width: 22vw;
  height: 18vh;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;

  margin: 0.2vw auto;
  margin-bottom: 1vw;
}
.submitButton {
  width: 10vw;
  height: 3vw;
  border-radius: 11px;
  border: 1px solid #4cce1e;
  background-color: #1e1e1e;
  color: #4cce1e;
  margin: 0.2vw auto;
  cursor: pointer;
}
.exit {
  color: #df5757;
  border: 1px solid #df5757;
  margin: 0.2vw auto;
  cursor: pointer;
  background-color: #1e1e1e;
  width: 10vw;
  height: 3vw;
  border-radius: 11px;
  margin: 0 auto;
}
.interviewModule {
  width: 80vw;
  height: 80vh;
  /* background-color: white; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.userPanel {
  width: 45%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 22px;
  margin-right: 1vw;
}
.botPanel {
  width: 45%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 22px;
  margin-left: 1vw;
}
.players {
  width: 45%;
  height: 2vw;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw auto;
}
.displayText {
  width: 90%;
  height: 40%;
  border: 1px solid white;
  border-radius: 8px;
  margin: 1vw auto;
  overflow-y: "scroll";
}
.chatTextUser {
  margin: 0.5vw auto;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}
.chatTextBot {
  margin: 0.5vw auto;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  width: 1vw;
  height: 1vw;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  width: 1vw;
  height: 1vw;
  animation: spin89345 0.3s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.input-area {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
  align-content: center;
}
.chatbox {
  width: 75%;
  background-color: #1e1e1e;
  border-radius: 22px;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}
.chatmodule {
  width: 85%;
  display: flex;
  flex-direction: row;
  height: 85vh;
  margin: 0 auto;
}
.sideDash {
  width: 20%;
  background-color: #1e1e1e;
  border-radius: 22px;
  margin-right: 1vw;
}
.text-area {
  width: 95%;
  border: 1px solid white;
  border-radius: 8px;
  height: 3vw;
  margin: 1vw 0.5vw;
}
.sendIcon {
  width: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3vw;
  margin: 1vw 0.5vw;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.chatDisplay {
  width: 85%;
  height: 90%;
}
