@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.sarabun-thin {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sarabun-extralight {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.sarabun-light {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sarabun-regular {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarabun-medium {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarabun-semibold {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarabun-bold {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarabun-extrabold {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarabun-thin-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.sarabun-extralight-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sarabun-light-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sarabun-regular-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sarabun-medium-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.sarabun-semibold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.sarabun-bold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sarabun-extrabold-italic {
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.wholeBody {
  background-color: #111111;
}
.logo {
  /* margin-left: 1vw;
  margin-top: 0.6vw; */
  position: fixed;
  top: 0.6vw;
  left: 1vw;
}
.headerPanel{
  height: 4vw;
  backdrop-filter: blur(3px);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  position: fixed;
  bottom: 2.5vw;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  width: 40vw;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1vw 0.5vw;
  z-index: 2;
}
.navButton {
  margin: 0.6vw 0.6vw;
  height: 3vw;
  width: 12vw;
  color: white;
  border: 1px solid white;
  display: flex;

  border-radius: 5px;
  background-color: #1e1e1e;
  /* padding: 0vw 0.5vw; */
  padding-bottom: 0.3vw;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@keyframes slide {
  from {
    transform: translateX(-50%);
    transform: translateY(0);
  }
  to {
    transform: translateX(-50%);
    transform: translateY(-100%);
  }
}
.linkBox {
  height: 4vw;
  width: 41vw;
  background-color: #1e1e1e;
  position: fixed;
  bottom: 7.5vw;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  /* animation: slide 0.5s ease-in-out; */
  display: flex;
  flex-direction: row;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  z-index: 2;
}
.hidden {
  opacity: 0;
  display: none;
}
.pageLink {
  margin: 0.6vw 0.6vw;
  /* height: 3vw; */
  width: 9vw;
  color: white;
  text-decoration: none;
  display: flex;
  /* border-radius: 5px; */
  /* background-color: #1E1E1E; */
  /* padding-bottom: 0.3vw; */
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileIcon {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
}
.profileIconLinks {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  width: auto;
  height: 4vw;
  padding: 1vw;
  transform: translateX(-20%);
  margin-top: 1vw;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40%;
  background-color: #b33434;
  z-index: -1;
}
.profileBox {
  position: fixed;
  top: 20%;
  width: 65%;
  background-color: white;
  height: 36vw;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 22px;
}
.switch {
  display: flex;
  flex-direction: row;
  height: 3vw;
  width: 100%;
}
.section {
  width: 311%;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1vw;
  margin: 1vw;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
.commonProfile {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.profilePic {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 2px solid #b33434;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  margin: 0 auto;
  margin-top: 8vw;
  margin-bottom: 0.5vw;
}
.fixed_details {
  margin: 0.1vw auto;
  text-align: center;
  /* margin-bottom:0.2vw; */
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}
.detailsTable {
  margin: auto auto;
}
td {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  padding: 0.5vw 2vw;
}
.popup-form {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  width: 50%;
  color: white;
  padding-bottom: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  margin: 0 auto;
  height: auto;
  border: 1px solid white;
}
.popup-form-backgrnd{
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(3px);
}
.firstCol {
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: center;
  color: white;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  margin-top: 1vw;
}
.secondCol {
  display: flex;
  flex-direction: column;
  width: 25vw;
  color: white;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  transform: translate(-10%);
  margin-top: 1vw;
}
select {
  width: 15vw;
  height: 2.5vw;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  margin: 0.2vw 0;
}
label {
  margin-top: 1vw;
  color: white;
}
textarea {
  width: 22vw;
  height: 18vh;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;

  margin: 0.2vw auto;
  margin-bottom: 1vw;
}
.submitButton {
  width: 10vw;
  height: 3vw;
  border-radius: 11px;
  border: 1px solid #4cce1e;
  background-color: #1e1e1e;
  color: #4cce1e;
  margin: 0.2vw auto;
  cursor: pointer;
}
.exit,
.exitBtn {
  color: #df5757;
  border: 1px solid #df5757;
  /* margin: 0.2vw auto; */
  cursor: pointer;
  background-color: #1e1e1e;
  width: 5vw;
  height: 2vw;
  border-radius: 11px;
  margin: 0 auto;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0vw 0vw;
  justify-content: center;
}
.exitBtn {
  position: absolute;
  bottom: 5%;
  text-decoration: none;
}
.interviewModule {
  width: 80vw;
  height: 80vh;
  /* background-color: white; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.userPanel {
  width: 45%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 22px;
  margin-right: 1vw;
}
.botPanel {
  width: 45%;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 22px;
  margin-left: 1vw;
}
.players {
  width: 45%;
  height: 2vw;
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw auto;
}
.displayText {
  width: 90%;
  height: 40%;
  border: 1px solid white;
  border-radius: 8px;
  margin: 1vw auto;
  overflow-y: "scroll";
}
.chatTextUser {
  margin: 0.5vw auto;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}
.chatTextBot {
  margin: 0.5vw auto;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  width: 1vw;
  height: 1vw;
}

.loader {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  width: 1vw;
  height: 1vw;
  animation: spin89345 0.3s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.input-area {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
  align-content: center;
}
.chatbox {
  width: 75%;
  background-color: #1e1e1e;
  border-radius: 22px;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}
.chatmodule {
  width: 85%;
  display: flex;
  flex-direction: row;
  height: 85vh;
  margin: 0 auto;
}
.sideDash {
  width: 20%;
  background-color: #1e1e1e;
  border-radius: 22px;
  margin-right: 1vw;
}
.text-area {
  width: 95%;
  border: 1px solid white;
  border-radius: 8px;
  height: 3vw;
  margin: 1vw 0.5vw;
}
.sendIcon {
  width: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3vw;
  margin: 1vw 0.5vw;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.chatDisplay {
  width: 100%;
  height: 90%;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  color: white;
  overflow-y: scroll;
}
.chat {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vw;
  /* height: 3vw; */
  /* margin-top: 2vw; */
}
.chat p {
  border: 1px solid white;
  /* height: 3vw; */
}
.outgoing {
  transform: translateX(5%);
  border-radius: 0px 8px 8px 8px;
  margin-top: 0.2vw;
  margin-left: 2vw;
}
.incoming {
  /* transform: translateX(5%); */
  justify-content: flex-end;
  border-radius: 8px 0px 8px 8px;
  margin-top: 0.2vw;
  margin-right: 4vw;
}
p {
  padding: 0.5vw;
}
.message {
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-bottom: 0.5vw;
}
.profileIconBot {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 1px solid white;
  /* cursor: pointer; */
  overflow: hidden;
  transform: translateX(1800%);
  display: flex;
  flex-direction: row;
  padding: 0 auto;
  justify-content: center;
  background-image: linear-gradient(45deg, blue, red);
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  margin-top: 1.1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 11px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dropZone {
  width: 90%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 11px;
  background-color: #d9d9d9;
  margin-top: 0.5vw;
  cursor: pointer;
}
.drop-zone--over {
  border-color: white;
}
.drop-zone__input {
  display: none;
}
.sideDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.resumeFile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
}

.homeBack {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  color: white;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.job-card{
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: black;
  width: 20vw;
  height: 15vw;
  border-radius: 11px;
  padding: 1vw;
  margin: 1vw 2vw;
  position: relative;
}
.job-card:hover{
  /* border:1px solid white; */
  box-shadow: 0px 0px 0px 1px white;
}
.job-card h3{
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  color: white;
  /* text-align: center; */
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  width: 90%;
  height: 1.7vw;
  overflow: hidden;
}
.job-card p{
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  color: white;
  /* text-align: center; */
  padding: 0;
  margin-top: 0.6vw;
  font-size: 1vw;
  width: 100%;
  height: 53%;
  overflow: hidden;
}
.job-card h5{
  font-family: Sarabun;
  font-style: normal;
  color: #B4B4B4;
  padding: 0;
  /* margin-top: 0; */
  width: 100%;
  font-size: 1vw;
}
.job-card h5 img{
  margin-right: 0.4vw;
  transform: translateY(0.3vw);
  width: 1vw;
}
.job-card h3 img{
  /* margin-left: 0.4vw; */
  /* transform: translateY(0.4vw);
  transform: translate(8vw); */
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 1.6vw;
}
.job-card h5:first-child{
  /* margin-top: 0.6vw;
  margin-bottom: 0; */
  position: absolute;
  bottom: 10vw;
  left: 5vw;
}
.job-card h5:last-child{
  /* margin-top: -1vw;
  margin-bottom: 0vw; */
  position: absolute;
  bottom: 1.3vw;
  left: 5%;
}
.job-card h5 button{
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 0.4vw 1vw;
  /* transform: translateX(5vw); */
  cursor: pointer;
  position: absolute;
  width: 4vw;
  height: 2vw;
  bottom: -1.7vw;
  right: 2vw;
  font-size: 0.8vw;
}
.job-card h5 button:hover{
  background-color: white;
  color: black;
}
.job-list{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  width: 78vw;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}
.popup-job{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}
.job-details-popup{
  position: absolute;
  top: 5vw;
  left: 50%;
  z-index: 1;
}
.job-details-popup{
  width: 35vw;
  height: 40vw;
  backdrop-filter: blur(3px);
box-shadow: 0 0 2px 1px white;
  border-radius: 11px;
  background-color: black;
  color: white;
  transform: translateX(-50%);
  padding-bottom: 1vw;
}
.job-details-popup h2{
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  color: white;
  padding: 0;
  margin: 0.8vw 1vw;
  font-size: 2.5vw;
  width: 90%;
  height: 3.2vw;
  overflow: hidden;
}
.job-details-popup h5 img{
  margin-right: 0.4vw;
  transform: translateY(0.3vw);
  width: 1vw;
}
.job-details-popup h5{
  font-family: Sarabun;
  font-style: normal;
  color: #B4B4B4;
  padding: 0;
  margin-top: 0;
  font-size: 1.2vw;
  margin: 0 0;
  margin-left: 1vw;

}
.job-details-popup div:last-child{
  width: 33vw;
  margin: 0 auto;
  height: 60%;
  overflow-y: scroll;
  padding: 5px ;
}
.job-details-popup div:last-child p{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.buttonTray button{
  width: 8vw;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5vw 0.5vw;
  margin: 0.5vw;
}
.buttonTray Link{
  width: 8vw;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5vw 0.5vw;
  margin: 0.5vw;
}
.buttonTray button:hover{
  background-color: white;
  color: black;
}
.buttonTray Link:hover{
  background-color: white;
  color: black;
}
.buttonTray{
  margin: 1vw auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.exit-button{
  position: absolute;
  top: -2vw;
  right: -2vw;
  color: white;
  cursor: pointer;
  background:none;
  border: none;
  width: 2vw;
}
.subtitle{
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: 1.5vw;
  position: fixed;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 2;
}
.filter-sort{
  margin: 0 auto;
  width: 40vw;
  height: 3vw;
  background-color: black;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  color: white;
}
.filter-sort label{
  margin: 0 0.5vw;
  padding: 0.5vw;
}
.filter-sort label img{
  margin: 0 0.3vw;
  transform: translateY(0.1vw);
}
.filter-sort select{
  width: 10vw;
  height: 2vw;
  border-radius: 5px;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 2vw 0 0.5vw ;

}